body, html{
	height: 100%;
	margin: 0;
}

.ml-auto{
	margin-right: 20px;
}

.book{
	background-image: url("./img/books.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    text-align: center;
}

.centered{
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-primary{
	margin-right: 15px;
}

.btn-success{
	margin-left: 15px;
}

.over{
	position: fixed;
	color: white;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.centered{
	position: fixed;
 	top: 50%;
  	left: 50%;
  	margin-top: -50px;
  	margin-left: -100px;
}