{% extends "layout.html" %}

{% block stylesBlock %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_index.css') }}">
{% endblock %}

{% block body %}

	<div class="book">
		<div class="centered">
			<a href="{{ url_for('register') }}">
				<button type="button" class="btn btn-primary btn-lg">Register</button>
			</a>
			<a href="{{ url_for('login') }}">
				<button type="button" class="btn btn-success btn-lg">Login</button>
			</a>	
		</div>
	</div>
	
	{% if check == "registered" %}
		<div id="overlay">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Registered!</h5>
			        <p class="card-text">Thank you for registering for Book Worm, you may now login</p>
			        <a href="{{ url_for('index') }}" class="btn btn-outline-primary">Close</a>
			      </div>
			    </div>
		</div>
	{% endif %}



{% endblock %}